{% extends 'base/base.html' %}

{% block title %}Create Order{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Order</a></li>
                            <li class="active">Create</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Create Order</strong>
            </div>
            <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                    <div class="card-body">
                        <form action="#" method="post" novalidate="novalidate">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="product" class="control-label mb-1">Product</label>
                                {{ form.product }}
                            </div>
                            <div class="form-group">
                                <label for="design" class="control-label mb-1">Design</label>
                                {{ form.design }}
                            </div>
                            <div class="form-group">
                                <label for="color" class="control-label mb-1">Color</label>
                                {{ form.color }}
                            </div>

                            <div class="form-group">
                                <label for="season" class="control-label mb-1">Season</label>
                                {{ form.season }}
                            </div>
                            <div class="form-group">
                                <label for="quantity" class="control-label mb-1">Quantity</label>
                                {{ form.quantity }}
                            </div>
                            <div class="form-group">
                                <label for="drop" class="control-label mb-1">Drop</label>
                                {{ form.drop }}
                            </div>
                            <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <span id="payment-button-amount">Create Order</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div> <!-- .card -->

    </div><!--/.col-->
</div>

    <script>
    // Function to update the current stock based on the selected product
    function updateStock() {
      var productSelect = document.getElementById('id_product');
      var currentStockInput = document.getElementById('id_current_stock');

      // Get the selected product from the dropdown
      var selectedProduct = productSelect.options[productSelect.selectedIndex];

      // Update the current stock input field with the stock of the selected product
      currentStockInput.value = selectedProduct.getAttribute('data-stock');
    }

    // Attach the updateStock function to the change event of the product dropdown
    document.getElementById('id_product').addEventListener('change', updateStock);

    // Call the updateStock function initially to set the initial value
    updateStock();
  </script>
{% endblock content %}